@import "../../../styles/base";
.contact_info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em 1em;
	&_icon {
		height: 40px;
		width: auto;
		padding-right: 10px;
	}
	.text {
		font-size: 1.2em;
	}
	transition: color 0.5s ease;
	&:hover {
		color: #b5b5b5;
	}
}

@include sm {
	.contact_info {
		margin: 1em 0em;
		&_icon {
			height: 40px;
			width: auto;
			padding-right: 10px;
		}
		.text {
			font-size: 1.2em;
		}
		transition: color 0.5s ease;
		&:hover {
			color: #b5b5b5;
		}
	}
}
