---
import "../styles/about-section.css";
import "../styles/about-section.css";
import YoutubeLastvid from "../components/YoutubeLastvid.astro";
import BaseHead from "../components/BaseHead.astro";
import ToogleDarkBtn from "../ToggleDarkBtn.astro";
import BtnToTop from "../components/BtnToTop.astro";
import Footer from "../components/Footer.astro";
import DarkBg from "../components/DarkBg.astro";
import NavLinks from "../components/NavLinks.astro";
import CardTerminal from "../layouts/CardTerminal.astro";
import ContactSocialIcons from "../components/ContactSocialIcons.astro";
import VsCodeTheme from "../components/VsCodeTheme.astro"
import Divider4 from "../components/atoms/Dividers/Divider4.astro";
import { about } from "../data/MenuData";
import DividerTop from "../components/atoms/Dividers/DividerTop.astro";
const { title, description } = Astro.props;


---


<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <NavLinks origin={about} />
    <ToogleDarkBtn />
    <BtnToTop />
    <main>
      <section class="about__intro" id="about">
        <div class=" about__imageIcons" ata-aos="fade-up">
          <img
            class="about__profile"
            src="../img/Jyothi_SL_3.webp"
            alt="Jyothi_SL picture"
          />
          <div class="icons__container">
            <ContactSocialIcons />
          </div>
        </div>
        <CardTerminal >
          <h2 class="about__titulo--post post__titulo">
            Jyothi <span class="span__dark" id="span-titulo2"> SL</span>
          </h2>
          <p class="terminal__content terminal__content--p">
            ≥ If I were asked to highlight a single quality in myself, it would
            be
            <span class="terminal__content terminal__content--span"
              >the love for what I do.</span
            > Programming, in particular, is something I engage in for the sheer
            pleasure of creating.
          </p>
          <p class="terminal__content terminal__content--color">
            As a data analysts having a strong technical background and knowledge of database tools and an eye for detailed,
            curious, analytical, and able to interpret data in original ways.
          </p>
          <p class="terminal__content terminal__content--p">
            ≥ Education  
          <p class="terminal__content terminal__content--color">
            Data Analyst - Data science EdubridgeIndia Pvt Ld.
            Feb 2023 - Aug 2024
          </p>
          <p class="terminal__content terminal__content--color">
            Adarsh Management Institute of India
            Bachelor of Engineering - BE, Computer Science
            Jul 2018 - Apr 2021
          </p>
          <p class="terminal__content terminal__content--color">
            PES UniversityPES University
            diploma, Computer Science 
            2015 - 2018
          </p>
        </CardTerminal>
      </section>
      <Divider4/>
      <VsCodeTheme/>
      <DividerTop colorLight="fill__black" colorDark="dark__black" dividerBg="black" dividerBgDark="" />
      <section class="about__page" id="ytChannel">
        <YoutubeLastvid />
      </section>
      <section class="about__text"></section>
    </main>
    <DarkBg />
    <Footer />
    <style>
      .about__page {
        width: 100%;
        padding: 1rem .4rem 0 .4rem;
        height: auto;
      }
      .post__titulo {
        color: white;
      }
      .text_content {
        color: white;
      }
      @media screen and (min-width: 768px) {
        .about__page {
        width: 100%;
        padding: 1rem 2rem 0 2rem;
        height: auto;
      }
      }
    </style>

  </body>
</html>
