---
import "../styles/components/about-home.css";
import ContactSocialIcons from "./ContactSocialIcons.astro";
---

<div class="card__about" data-aos="fade-right" >
  <div class="card-photo">
    <img class="about__img--src" src="./img/Jyothi_SL_2.webp" alt="" />
  </div>
  <div class="card-title">
    <p>Jyothi SL</p>
    <span>DATA ANALYST</span>
  </div>
  <div class="card-socials">
  <ContactSocialIcons/>
</div>
</div>
