---
import MainLogo from "./MainLogo.astro";
import "../styles/components/footer.css"

---
<footer class="footer">
	<div class="footer__container">
		<MainLogo/>
		<div class="foooter__cajas">
		</div>
		<div class="foooter__cajas">
			<ul class="footer__caja__iconos">
				<li class="footer__iconos__lista ">
					<a href="mailto: sofi.dev@outlook.com" rel="nofollow noreferrer noopener">
						<img class="footer__iconos mail__footer icono__dark" src="/svg/mail (1).svg"
							alt="mail icon">
					</a>
				</li>
				<li class="footer__iconos__lista ">
					<a href="https://www.linkedin.com/in/Jyothi_SL/" target="_blank"
						rel="nofollow noreferrer noopener">
						<img class="footer__iconos linkedin__footer icono__dark" src="/svg/linkedin.svg"
							alt="Linkedin icon">
					</a>
				</li>
				<li class="footer__iconos__lista ">
					<a href="https://github.com/SLJyothi" target="_blank" rel="nofollow noreferrer noopener">
						<img class="footer__iconos  icono__dark" src="/svg/github-light.svg"
							alt="github icon">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
