---
import "../styles/components/hero.css";
import DarkBg from "./DarkBg.astro";
import HeroIcons from "./HeroIcons.astro";
---
<section class="hero" id="hero" transition:persist>
  <div class="hero__contenedor">
    <div class="hero__saludo">
      <h1
        class="hero__titulo"
        id="titulo-saludo"
        data-section="hero"
        data-value="heroTitulo"
      >
        Hello! I'm Jyothi<span class="flicker-in-1 span__dark">_SL</span>
      </h1>
      <h2
        class="side__container2"
        id="subtitulo"
        data-section="hero"
        data-value="heroSubtitulo"
      >
      <img src="./img/hero_title.svg"></a>

      </h2>
    </div>
    <aside class="side__container">
      <img
        class="side__img img__ligth"
        src="./img/Jyothi_SL_1_Black.webp"
        alt="Jyothi_SL profile photo"
      />
      <img
        class="side__img img__dark"
        src="./img/Jyothi_SL_1_Pink.webp"
        alt="Jyothi_SL profile photo"
      />
      <img
        class="side__img img__damage"
        src="./img/IA_damage.webp"
        alt="Jyothi_SL profile photo"
      />
      <HeroIcons />
    </aside>
  </div>
  <DarkBg />
</section>
