---
import CardSkill from "./CardSkills";
import CardTerminal from "../layouts/CardTerminal.astro";
import Button from "./Button.astro";
---

<section class="skills" id="skills">
  <h2 data-aos="fade-up" class="titulo titulo__dark">Skills</h2>
  <div class="skills__container max__width">
    <CardTerminal animation="fade-right">
      <p class="terminal__content terminal__content--p">
        ≥ Strong foundation in
        <span class="terminal__content terminal__content--span"
          >Python, Advanced Excel, Descriptive analytics, 
          EDA, Model Building, solving Regression and Classification problems,
          Numpy and Pandas Libraries, SQL, Dashboard creation in Power BI, Hadoop (HDFS).
          I also have basic knowledge of SAS.</span
        >
      </p>
      <p class="terminal__content terminal__content--color">
        ≥ In addition to my technical skills, I have experince in 
        software Testing and .NET technology.
      </p>
      <Button
        href="./docs/Jyothi_SL_2024.pdf"
        text="Download CV"
        target="_blank"
      />
    </CardTerminal>
	  <div class="skills__cards-container">
	<CardSkill />
	</div>
  </div>
</section>
